# =========================================
# 🌐 Api base do backend utilizado 
# =========================================
NEXT_PUBLIC_API_URL=""

# =========================================
# 🔐 Chave secreta para encriptação de dados de autorização
# =========================================
NEXT_PUBLIC_AUTH_SECRET_KEY=""

# =========================================
# 📊 Configurações para PostHog
# =========================================
NEXT_PUBLIC_POSTHOG_KEY=""
NEXT_PUBLIC_POSTHOG_HOST=""