@import "tailwindcss";

:root {
  --header: 4rem;

  --light: #fff;
  --dark: #000;
  --gray-1: #111;
  --gray-2: #222;
  --gray-3: #333;
  --gray-4: #444;
  --primary: #ff1493;
  --secondary: #ff80dd;

  --background: var(--light);
  --foreground: var(--gray-2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--gray-2);
    --foreground: var(--light);
  }
}

@theme inline {
  --spacing-header: var(--header);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light: var(--light);
  --color-dark: var(--dark);
  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

body {
  background: var(--background);
  color: var(--foreground);
}
