@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap");
@import "tailwindcss";

:root {
  --header: 4rem;

  --light: #fff;
  --dark: #000;
  --gray-1: #111;
  --gray-2: #222;
  --gray-3: #333;
  --gray-4: #444;
  --gray-5: #555;
  --gray-6: #666;
  --gray-7: #777;
  --primary: #ff1493;
  --secondary: #ff80dd;
  --tertiary: #b266ff;
  --success: #66bb6a;
  --error: #ef5350;
  --warning: #ffd54f;

  --background: var(--light);
  --foreground: var(--gray-2);

  --font: "Maven Pro";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--gray-2);
    --foreground: var(--light);
  }
}

@theme inline {
  --spacing-header: var(--header);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light: var(--light);
  --color-dark: var(--dark);
  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-success: var(--success);
  --color-error: var(--error);
  --color-warning: var(--warning);

  --default-font-family: var(--font);

  --breakpoint-xs: 25rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font);

  ::-webkit-scrollbar {
    width: 6px;
    background-color: var(--background);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--gray-3);
    border-radius: 5px;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
